<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="google-signin-client_id"
        content="624596912501-dpuv3fga4pqr28qvmgevug8edibe9fe3.apps.googleusercontent.com">

</head>
<body>
<div id="my-signin2"></div>

<script>
    function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId());
        console.log('Full Name: ' + profile.getName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:8000/google/auth');
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8"');
        xhr.onload = function () {
            console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send(JSON.stringify({
                'token':id_token,
                "avatar": profile.getImageUrl(),
                "email": profile.getEmail(),
                "username": profile.getName()
        })
        );

    }

    function onFailure(error) {
        console.log(error);
    }

    function renderButton() {
        gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
        });
    }
</script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>
